ul {
  padding-left: 0;

  /* Si queremos centrar la lista
  text-align: center;
  */
}

li {
  display: inline;
  margin-right: 12px;

  /* Si queremos centrar la lista
  margin-right: 6px;
  margin-left: 6px;
  */
}
