*{
  box-sizing: border-box;
}
body{
  margin:0 0 0 0;
  background-color: rgb(221, 178, 232);
  color: rgb(38, 4, 61);
  h
}
.content{
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
